<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>egGroup_web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>720</session-timeout>
  </session-config>
  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>filters.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/front-end/ad/ad_FE.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/front-end/ad/update_ad_input_FE.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/front-end/feast/addFeast.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/front-end/feast/listOneFeast.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/front-end/feast/update_feast_input.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/front-end/fooditem/addFooditem.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/front-end/fooditem/listOneFooditem.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/front-end/fooditem/update_fooditem_input.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/front-end/mem/mem.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/front-end/res/update_res_input.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/front-end/resAc/listAllResAc.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <servlet>
    <servlet-name>MyFeastServlet</servlet-name>
    <servlet-class>com.myfeast.controller.MyFeastServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyFeastServlet</servlet-name>
    <url-pattern>/front-end/feast/myfeast.do</url-pattern>
    <url-pattern>/back-end/feast/myfeast.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FeastInfoServlet</servlet-name>
    <servlet-class>com.feastinfo.controller.FeastInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeastInfoServlet</servlet-name>
    <url-pattern>/front-end/feast/feastinfo.do</url-pattern>
    <url-pattern>/back-end/feast/feastinfo.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemServlet</servlet-name>
    <servlet-class>com.mem.controller.MemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemServlet</servlet-name>
    <url-pattern>/front-end/mem/mem.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MemServlet</servlet-name>
    <url-pattern>/mem.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResServlet</servlet-name>
    <servlet-class>com.res.controller.ResServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResServlet</servlet-name>
    <url-pattern>/back-end/res/res.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResServlet</servlet-name>
    <url-pattern>/front-end/res/res.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResAcServlet</servlet-name>
    <servlet-class>com.resac.controller.ResAcServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResAcServlet</servlet-name>
    <url-pattern>/front-end/res/resAc.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResAcServlet</servlet-name>
    <url-pattern>/front-end/resAc/resAc.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdServlet</servlet-name>
    <servlet-class>com.ad.controller.AdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdServlet</servlet-name>
    <url-pattern>/back-end/ad/ad.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdServlet</servlet-name>
    <url-pattern>/front-end/ad/ad.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrdServlet</servlet-name>
    <servlet-class>com.ord.controller.OrdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrdServlet</servlet-name>
    <url-pattern>/front-end/ord/ord.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PicServlet</servlet-name>
    <servlet-class>com.pictools.ResPhoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PicServlet</servlet-name>
    <url-pattern>/back-end/res/resPhoto.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PicServlet2</servlet-name>
    <servlet-class>com.pictools.ResAcPhoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PicServlet2</servlet-name>
    <url-pattern>/back-end/resAc/resAcPhoto.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PicServlet3</servlet-name>
    <servlet-class>com.pictools.AdPhoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PicServlet3</servlet-name>
    <url-pattern>/back-end/resAd/resAdPhoto.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PicServlet4</servlet-name>
    <servlet-class>com.pictools.FoodPhoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PicServlet4</servlet-name>
    <url-pattern>/back-end/ord/resOrdPhoto.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PicServlet5</servlet-name>
    <servlet-class>com.pictools.memPhoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PicServlet5</servlet-name>
    <url-pattern>/back-end/mem/memPhoto.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemLogin</servlet-name>
    <servlet-class>com.mem.controller.MemLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemLogin</servlet-name>
    <url-pattern>/MemLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LeaveMessageServlet</servlet-name>
    <servlet-class>com.leavemessage.controller.LeaveMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeaveMessageServlet</servlet-name>
    <url-pattern>/front-end/post/leavemessage.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FriendListServlet</servlet-name>
    <servlet-class>com.friendlist.controller.FriendListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriendListServlet</servlet-name>
    <url-pattern>/front-end/friendlist/friendlist.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReportLmServlet</servlet-name>
    <servlet-class>com.reportlm.controller.ReportLmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportLmServlet</servlet-name>
    <url-pattern>/front-end/post/reportLM.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportLmServlet</servlet-name>
    <url-pattern>/back-end/reportlm/reportLM.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PostServlet</servlet-name>
    <servlet-class>com.post.controller.PostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostServlet</servlet-name>
    <url-pattern>/front-end/post/post.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FooditemServlet</servlet-name>
    <servlet-class>com.fooditem.controller.FooditemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FooditemServlet</servlet-name>
    <url-pattern>/front-end/fooditem/fooditem.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PointtransactionServlet</servlet-name>
    <servlet-class>com.pointtransaction.controller.PointtransactionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PointtransactionServlet</servlet-name>
    <url-pattern>/back-end/pointtransaction/pointtransaction.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PointtransactionServlet</servlet-name>
    <url-pattern>/front-end/mem/pointtransaction.do</url-pattern>
  </servlet-mapping>
</web-app>